/* Reset CSS */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.main {
    background-image: url(../img/image\ 157.png);
    background-repeat: no-repeat;
    height: 600px;
    background-size: cover;
}

.header {
    
}

.header_full {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100px;
    max-width: calc(1349px - 134px);
    margin: 0 auto 194px;
}

.h_left{
    display: flex;
    align-items: center;
}

.menu ul {
    position: absolute;
    display: flex;
    list-style-type: none;
}

.menu {
    display: flex;
    align-items: center;
}

.menu ul li.active a {
    color: #D08C30;
    letter-spacing: 0.03em;
    font-weight: 700;
    font-size: 18px;
    line-height: 30px;
    font-family: 'Mukta';
}

.menu ul li a {
    text-decoration: none;
    color: #FFFFFF;
    margin-right: 32px;
    font-weight: 500;
    font-size: 18px;
    line-height: 30px;
    font-family: 'Mukta';
    position: relative;
    display: block;
    letter-spacing: 0.03em;
}

.menu ul li:first-child {
    margin-left: 65px;
}

.menu ul li a:hover {
    color: #D08C30;
    font-weight: 700;
}

.banner {
    height: 306px;
}

.banner p {
    font-family: 'Fahkwang';
    color: #FBFBFB;
    font-weight: 500;
    font-size: 64px;
    line-height: 83px;
    text-align: center;
}

.banner p.text {
    color: #CBCAC9;
    font-weight: 400;
    font-size: 22px;
    line-height: 37px;
    font-family: 'Mukta';
}

.content {
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #FDF9F5;
    height: 1026px;
}

.content hr {
    width: 32px;
    border: 2px solid #D08C30;
    margin-top: 60px;
}

.content .title {
    color: #D08C30;
    font-weight: 400;
    font-size: 18px;
    font-family: 'Mukta';
    margin-top: 8px;
    text-transform: uppercase;
    width: 85px;
    height: 27px;
}

.content .title1 {
    margin: 13px 0 20px;
    color: #151618;
    font-weight: 400;
    font-size: 40px;
    text-transform: uppercase;
    font-family: 'Fahkwang';
}

.content .sub-title {
    color: #666565;
    font-weight: 300;
    font-size: 18px;
    font-family: 'Mukta';
    width: 594px;
    height: 54px;
    text-align: center;
    margin-bottom: 60px;
}

.content .table {
    width: 1008px;
    height: 624px;
    background: #FEFEFD;
}

.row_header {
    display: flex;
    border-bottom: 1.5px solid #D9D9D9;
    color: #151618;
    font-family: 'Mukta';
    font-weight: bold;
    font-size: 18px;
    line-height: 150%;
}

.column {
    padding: 20px 0px 13px;
}

.table_content {
    margin: 28px 44px;
}

.row-content {
    display: flex;
    height: 63px;
}

.row-content:not(:last-child) {
    margin-bottom: 36px;
}

.delete {
    width: 58px;
    display: flex;
    align-items: center;
}

.item_product {
    display: flex;
    width: 330px;
    align-items: center;
}

.item_product .text {
    color: #666565;
    font-weight: 300;
    font-size: 20px;
    line-height: 150%;
    font-family: 'Mukta';
    width: 247px;
    padding: 17px 0px 16px 20px;
}

.item_price {
    width: 62px;
    padding: 17px 0px 16px;
    text-align: right;
    margin-right: 102px;
}

.item_price .text {
    color: #666565;
    font-weight: 300;
    font-size: 20px;
    line-height: 150%;
    font-family: 'Mukta';
}

.item_quantity {
    width: 145px;
    padding: 17px 0px 16px;
    margin-right: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.item_quantity .square-desc {
    width: 27px;
    height: 28px;
    background: #EBEBEB;
    position: relative;
    display: flex;
    justify-content: center;
    cursor: pointer;
}

.item_quantity .square-asc {
    width: 27px;
    height: 28px;
    background: #EBEBEB;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.item_quantity .desc {
    position: absolute;
    align-items: center;
    justify-content: center;
}

.item_quantity .asc {
    position: absolute;
    align-items: center;
    justify-content: center;
}

.number {
    padding: 0px 25px;
    color: #666565;
    font-weight: 300;
    font-size: 16px;
    line-height: 100%;
    font-family: 'Mukta';
}

.row-content .sub-total {
    width: 144px;
    padding: 17px 0px 16px;
    text-align: right;
}

.row-content .sub-total .text {
    font-weight: 400;
    font-size: 20px;
    line-height: 150%;
    color: #151618;
    font-family: 'Mukta';
}

.content .total {
    border-top: 1.5px solid #D9D9D9;
}

.total .text-total {
    display: flex;
}

.total .text-total .text{
    width: 144px;
    height: 36px;
    font-weight: 600;
    font-size: 24px;
    line-height: 150%;
    font-family: 'Mukta';
    color: #151618;
    margin: 16px 171px 16px 515px;
}

.total .text-total .total-price {
    width: 75px;
    text-align: right;
    padding: 16px 0px;
    color: #151618;
    font-weight: 600;
    font-size: 24px;
    line-height: 150%;
    font-family: 'Mukta';
}

.button {
    display: flex;
}

.btn-update {
    width: 145px;
    height: 52px;
    border: 1.5px solid #666565;
    margin: 0px 20px 0px 515px;
    font-weight: 500;
    font-size: 18px;
    line-height: 100%;
    font-family: 'Mukta';
    text-align: center;
    padding: 17px 20px;
    cursor: pointer;
}

.btn-process {
    width: 227px;
    height: 52px;
    background: #D08C30;
    padding: 17px 23px;
    font-weight: 400;
    font-size: 18px;
    line-height: 100%;
    font-family: 'Mukta';
    cursor: pointer;
}

.btn-process a {
    text-decoration: none;
    color: #FFFFFF;
}

.footer {
    height: 400px;
    background-color: #131313;
}

.footer .footer_up {
    display: flex;
    justify-content: center;
}

.footer1 {
    margin:  80px 67px 29px;
}

.footer1 .email input {
    width: 208px;
    height: 40px;
    background: none;
    border: 1.5px solid #5A5A5A;
    outline: none;
    padding: 8px 21px 8px 8px;
    color: #D0D0D0;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    font-family: 'Mukta';

}

.footer1 .email {
    display: flex;
}

.footer button {
    background: #D08C30;
    border: none;
}

.footer .text_button {
    color: #FDF9F5;
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    font-family: 'Mukta';
    padding: 8px 11px;
}

.footer1 button:hover {
    cursor: pointer;
}

.footer1 .text_footer {
    margin: 20px 0 32px;
    color: #717171;
    font-weight: 300;
    font-size: 16px;
    font-family: 'Mukta';
    width: 489px;
    height: 72px;
    line-height: 150%;
}

.footer1 .text_sub {
    margin-bottom: 8px;
    color: #FFFFFF;
    font-weight: 500;
    font-size: 16px;
    font-family: 'Mukta';
}

.footer1 .contact_footer{
    color: #FFFFFF;
    font-weight: 500;
    font-size: 22px;
    line-height: 150%;
    font-family: 'Mukta';
    margin-bottom: 20px;
}

.footer1 .sub_contact {
    display: flex;
}

.footer1 .sub_contact img {
    height: 20px;
    width: 20px;
    margin-right: 8px;
}

.footer1 .sub_contact .place {
    width: 252px;
}

.footer1 .link {
    color: #FFFFFF;
    font-weight: 500;
    font-size: 22px;
    line-height: 150%;
    font-family: 'Mukta';
    margin-bottom: 20px;
    width: 175px;
}

.footer1 p {
    color: #D0D0D0;
    font-weight: 300;
    font-size: 16px;
    line-height: 150%;
    font-family: 'Mukta';
    margin-bottom: 12px;
}

.footer1 a {
    color: #D0D0D0;
    font-weight: 600;
    font-size: 16px;
    line-height: 150%;
    font-family: 'Mukta';
    text-decoration: none;
}

.footer1 ul li {
    list-style-type: none;
    margin-bottom: 12px;
}

.footer_down {
    border: 1px solid #424242;
    width: 1216px;
    margin: auto;
    height: 0px;
    display: flex;
    justify-content: space-between;
}

.footer_down .footer_css {
    font-weight: 400;
    font-size: 12px;
    line-height: 20px;
    color: #717171;
    font-family: 'Mukta';
    margin: 16px 0 20px;
}

.footer_down .footer_css a {
    margin-left: 20px;
}